body{
	background-color:tan;
}


input{
	display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    margin:auto;
    margin-top:25px;
    width:200px;
    height:20px;
}

#loginBtn{
	float:left;
}

#signUpBtn{
	float:right;
}

.selectedBtn{
	background-color:white;
	color:blue;
}

.notSelectedBtn{
	background-color:blue;
	color:white;
}


#test{
	background:url('../img/bookBackground.png');
	background-size:cover;
}






