body{
  background-color:yellow;
}


input{
	display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    margin:auto;
    margin-top:25px;
    width:200px;
    height:20px;
}

#title{
  text-align: center;
  vertical-align: top;
}

#loginFormDiv{
	background-color:blue;
	width:400px;
	height: 200px;
	margin:auto;
	padding-top:25px;
}