body{
  background-color:yellow;
}


input{
	display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    margin:auto;
    margin-top:25px;
    width:200px;
    height:20px;
}

#title{
  text-align: center;
  vertical-align: top;
}

#loginFormDiv{
	background-color:blue;
	width:400px;
	height: 200px;
	margin:auto;
	padding-top:25px;
}

#buttons{
	cursor:pointer;
	height:100px;
	width:400px;
	margin: auto;
}

#loginBtn, #signUpBtn{
	font-size: 2.5em;
	padding:8px;
	display: block;
	height:100px;
	width:175px;
	text-align: center;
	margin-top:15px;
}

#loginBtn{
	float:left;
}

#signUpBtn{
	float:right;
}


.selectedBtn{
	background-color:white;
	color:blue;
}

.notSelectedBtn{
	background-color:blue;
	color:white;
}









